body {
    font-family: 'Times New Roman', Times, serif;
    margin: auto;
}


header {
    background-image: url(../img/pattern.png);
    background-repeat: repeat-x;
    background-size: 380px;
    background-color: dodgerblue;
}

h1 {
    margin-bottom: 0px;
    font-size: 40px;
    margin-top: 10px;
}

main, footer {
    margin: 15px;
}

ul {
    padding-left: 15px;
}

table {
    border-spacing: 0px;
}

footer {
    margin-top: 30px;
}

.imgmain {
    width: 10%;
    padding-top: 40px;
    margin-left: 15px;
}

.titolo {
    margin: 0;
}

.sottotitolo {
    color: grey;
}

.thebooleaner {
    color: dodgerblue;
}

.dimsottotitolo {
    font-size: small;
}

.spazio {
    padding-top: 15px;
}

.sottotesto {
    font-size: small;
    margin-top: 3px;
}

.sfondotesto {
    background-color: yellow;
}

.primocoloretabella {
    background-color: rgb(6, 149, 245);
    color: white;
}

.secondocoloretabella {
    background-color: rgba(6, 149, 245, 0.3);
}

.spacetable {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 50px;
}

.spacetable1 {
    padding-right: 50px;
}

.coloretesto {
    color: grey;
    font-weight: 700;
}